In [1]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("file.csv")
df.head()

   Answer_Type  Topic_Number  Variation  Difficulty_Level
0            1         30102        105                 3
1            1         30102        105                 3
2            1         30102        105                 3
3            1         30102        105                 3
4            1         30102        105                 3

In [3]:
from csv import DictReader
import random
dod1=[]
dod2=[]
dod3=[]
def recmques():
  with open('file.csv', 'r') as read_obj:
      csv_dict_reader = DictReader(read_obj)
      for row in csv_dict_reader:
          if row['Difficulty_Level']==str(1):
            dod1.append([row['Topic_Number'],row['Variation'],row['Difficulty_Level']])
          elif row['Difficulty_Level']==str(2):
            dod2.append([row['Topic_Number'],row['Variation'],row['Difficulty_Level']])
          elif row['Difficulty_Level']==str(3):
            dod3.append([row['Topic_Number'],row['Variation'],row['Difficulty_Level']])
          else:
            continue
recmques()
print(random.choice(dod1))
print(random.choice(dod1))
print(random.choice(dod1))
print(random.choice(dod1))
print(random.choice(dod1))
print(random.choice(dod2))
print(random.choice(dod3))

['30102', '101', '1']
['30102', '101', '1']
['30101', '101', '1']
['30101', '101', '1']
['30101', '101', '1']
['30102', '103', '2']
['30102', '110', '3']

In [1]:
import mysql.connector
from csv import DictReader

def recmques(d):
  with open('file.csv', 'r') as read_obj:
      csv_dict_reader = DictReader(read_obj)
      for row in csv_dict_reader:
          if row['Difficulty_Level']==str(d):
            return row['Topic_Number'],row['Variation'],row['Difficulty_Level']

try:
    connection = mysql.connector.connect(host='127.0.0.2',
                                         database='coep',
                                         user='root',
                                         password='root')

    sql_select_Query = "select * from studentperformance"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    # get all records
    records = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)

    print("\nPrinting each row")
    for row in records:
        print("SID = ", row[0], )
        print("topicnumber = ", row[1])
        print("variation  = ", row[2])
        print("DOD  = ", row[3])
        print("answer  = ", row[4])
        print("timetaken  = ", row[5], "\n")

except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  2

Printing each row
SID =  1
topicnumber =  301
variation  =  101
DOD  =  3
answer  =  1
timetaken  =  60

SID =  2
topicnumber =  302
variation  =  102
DOD  =  2
answer  =  0
timetaken  =  56

MySQL connection is closed

In [5]:
import mysql.connector

for i in range(4):
    try:
        connection = mysql.connector.connect(host='127.0.0.2',
                                            database='coep',
                                            user='root',
                                            password='root')

        sql_select_Query = "INSERT INTO studentperformance (SID, topicnumber, variation, DOD) VALUES (01, %s, %s, %s)"
        a=random.choice(dod1)
        val = (int(a[0]),int(a[1]),int(a[2]))
        cursor = connection.cursor()
        cursor.execute(sql_select_Query,val)
        connection.commit()
        # get all records
        # records = cursor.fetchall()
        # print("Total number of rows in table: ", cursor.rowcount)

        # print("\nPrinting each row")
        # for row in records:
        #     print("SID = ", row[0], )
        #     print("topicnumber = ", row[1])
        #     print("variation  = ", row[2])
        #     print("DOD  = ", row[3])
        #     print("answer  = ", row[4])
        #     print("timetaken  = ", row[5], "\n")

    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

for i in range(3):
    try:
        connection = mysql.connector.connect(host='127.0.0.2',
                                            database='coep',
                                            user='root',
                                            password='root')

        sql_select_Query = "INSERT INTO studentperformance (SID, topicnumber, variation, DOD) VALUES (01, %s, %s, %s)"
        b=random.choice(dod2)
        val = (int(b[0]),int(b[1]),int(b[2]))
        cursor = connection.cursor()
        cursor.execute(sql_select_Query,val)
        connection.commit()
        # get all records
        # records = cursor.fetchall()
        # print("Total number of rows in table: ", cursor.rowcount)

        # print("\nPrinting each row")
        # for row in records:
        #     print("SID = ", row[0], )
        #     print("topicnumber = ", row[1])
        #     print("variation  = ", row[2])
        #     print("DOD  = ", row[3])
        #     print("answer  = ", row[4])
        #     print("timetaken  = ", row[5], "\n")

    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

for i in range(3):
    try:
        connection = mysql.connector.connect(host='127.0.0.2',
                                            database='coep',
                                            user='root',
                                            password='root')

        sql_select_Query = "INSERT INTO studentperformance (SID, topicnumber, variation, DOD) VALUES (01, %s, %s, %s)"
        c=random.choice(dod3)
        val = (int(c[0]),int(c[1]),int(c[2]))
        cursor = connection.cursor()
        cursor.execute(sql_select_Query,val)
        connection.commit()
        # get all records
        # records = cursor.fetchall()
        # print("Total number of rows in table: ", cursor.rowcount)

        # print("\nPrinting each row")
        # for row in records:
        #     print("SID = ", row[0], )
        #     print("topicnumber = ", row[1])
        #     print("variation  = ", row[2])
        #     print("DOD  = ", row[3])
        #     print("answer  = ", row[4])
        #     print("timetaken  = ", row[5], "\n")

    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed

In [ ]:
import mysql.connector
##DO NOT RUN THIS
def mimicstd():
    try:
        connection = mysql.connector.connect(host='127.0.0.2',
                                            database='coep',
                                            user='root',
                                            password='root')

        sql_select_Query = "INSERT INTO studentperformance (SID, topicnumber, variation, DOD) VALUES (01, %s, %s, %s)"
        
        val = (int(a[0]),int(a[1]),int(a[2]))
        cursor = connection.cursor()
        cursor.execute(sql_select_Query,val)
        connection.commit()
        # get all records
        # records = cursor.fetchall()
        # print("Total number of rows in table: ", cursor.rowcount)

        # print("\nPrinting each row")
        # for row in records:
        #     print("SID = ", row[0], )
        #     print("topicnumber = ", row[1])
        #     print("variation  = ", row[2])
        #     print("DOD  = ", row[3])
        #     print("answer  = ", row[4])
        #     print("timetaken  = ", row[5], "\n")

    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")