In [2]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("file.csv")
df.head()

   Answer_Type  Topic_Number  Variation  Difficulty_Level
0            1         30102        105                 3
1            1         30102        105                 3
2            1         30102        105                 3
3            1         30102        105                 3
4            1         30102        105                 3

In [5]:
from csv import DictReader

def recmques(d):
  with open('file.csv', 'r') as read_obj:
      csv_dict_reader = DictReader(read_obj)
      for row in csv_dict_reader:
          if row['Difficulty_Level']==str(d):
            return row['Topic_Number'],row['Variation']
for i in range(0,4):
  print(recmques(3))
for i in range(0,3):
  print(recmques(2))
for i in range(0,3):
  print(recmques(1))

('30102', '105')
('30102', '105')
('30102', '105')
('30102', '105')
('30102', '104')
('30102', '104')
('30102', '104')
('30102', '101')
('30102', '101')
('30102', '101')