In [1]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("file.csv")
df.head()

   Answer_Type  Topic_Number  Variation  Difficulty_Level
0            1         30102        105                 3
1            1         30102        105                 3
2            1         30102        105                 3
3            1         30102        105                 3
4            1         30102        105                 3

In [3]:
from csv import DictReader

def recmques(d):
  with open('file.csv', 'r') as read_obj:
      csv_dict_reader = DictReader(read_obj)
      for row in csv_dict_reader:
          if row['Difficulty_Level']==str(d):
            return row['Topic_Number'],row['Variation']
for i in range(0,4):
  print(recmques(3))
for i in range(0,3):
  print(recmques(2))
for i in range(0,3):
  print(recmques(1))

('30102', '105')
('30102', '105')
('30102', '105')
('30102', '105')
('30102', '104')
('30102', '104')
('30102', '104')
('30102', '101')
('30102', '101')
('30102', '101')

In [20]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='127.0.0.2',
                                         database='coep',
                                         user='root',
                                         password='root')

    sql_select_Query = "select * from studentperformance"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    # get all records
    records = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)

    print("\nPrinting each row")
    for row in records:
        print("SID = ", row[0], )
        print("topicnumber = ", row[1])
        print("variation  = ", row[2])
        print("DOD  = ", row[3])
        print("answer  = ", row[4])
        print("timetaken  = ", row[5], "\n")

except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  1

Printing each row
SID =  1
topicnumber =  301
variation  =  101
DOD  =  3
answer  =  1
timetaken  =  60

MySQL connection is closed