In [1]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("file.csv")
df.head()

,Question Type,Answer Type,Topic Number,Question (Text Only),Correct Answer 1,Correct Answer 2,Correct Answer 3,Correct Answer 4,Wrong Answer 1,Wrong Answer 2,Wrong Answer 3,Time in seconds,Difficulty Level,Question (Image/ Audio/ Video),Contributor's Registered mailId,Solution (Text only),Solution (Image/ Audio/ Video),Variation Number
0,text,1,30202,"If $-4y - 2z$ = $-10y + 7z$, and if we subtra...",subtract $7$ from # $7$ वजा करावे,NaN,NaN,NaN,Multiply by $7$ to # $7$ ने गुणायला,divide RHS by $7$ to # $7$ ने भागावे,add $7$ to # $7$ मिळवायला,60,2,NaN,2018.rohan.pol@ves.ac.in,Answer - subtract $7$ from <br>If the same ope...,NaN,101
1,text,1,30202,"If $-6p - 8q$ = $-9p + 5q$, and if we subtrac...",subtract $2$ from # $2$ वजा करावे,NaN,NaN,NaN,Multiply by $2$ to # $2$ ने गुणायला,divide RHS by $2$ to # $2$ ने भागावे,add $2$ to # $2$ मिळवायला,60,2,NaN,2018.rohan.pol@ves.ac.in,Answer - subtract $2$ from <br>If the same ope...,NaN,101
2,text,1,30202,"If $1y - 8z$ = $3y - 6z$, and if we subtract ...",subtract $2$ from # $2$ वजा करावे,NaN,NaN,NaN,Multiply by $2$ to # $2$ ने गुणायला,divide RHS by $2$ to # $2$ ने भागावे,add $2$ to # $2$ मिळवायला,60,2,NaN,2018.rohan.pol@ves.ac.in,Answer - subtract $2$ from <br>If the same ope...,NaN,101
3,text,1,30202,"If $5u - 8v$ = $8u + 1v$, and if we subtract ...",subtract $3$ from # $3$ वजा करावे,NaN,NaN,NaN,Multiply by $3$ to # $3$ ने गुणायला,divide RHS by $3$ to # $3$ ने भागावे,add $3$ to # $3$ मिळवायला,60,2,NaN,2018.rohan.pol@ves.ac.in,Answer - subtract $3$ from <br>If the same ope...,NaN,101
4,text,1,30202,"If $-2x - 10y$ = $-4x + 2y$, and if we subtra...",subtract $3$ from # $3$ वजा करावे,NaN,NaN,NaN,Multiply by $3$ to # $3$ ने गुणायला,divide RHS by $3$ to # $3$ ने भागावे,add $3$ to # $3$ मिळवायला,60,2,NaN,2018.rohan.pol@ves.ac.in,Answer - subtract $3$ from <br>If the same ope...,NaN,101

In [16]:
from csv import DictReader
import random
dod1=[]
dod2=[]
dod3=[]
def recmques():
  with open('file.csv', 'r',encoding='utf8', errors='ignore') as read_obj:
      csv_dict_reader = DictReader(read_obj)
      for row in csv_dict_reader:
          if row['Difficulty Level']==str(1):
            dod1.append([row['Topic Number'],row['Variation Number'],row['Difficulty Level'],row['Question (Text Only)'],row['Correct Answer 1'],row['Wrong Answer 1'],row['Wrong Answer 2'],row['Wrong Answer 3'],row['Solution (Text only)']])
          elif row['Difficulty Level']==str(2):
            dod2.append([row['Topic Number'],row['Variation Number'],row['Difficulty Level'],row['Question (Text Only)'],row['Correct Answer 1'],row['Wrong Answer 1'],row['Wrong Answer 2'],row['Wrong Answer 3'],row['Solution (Text only)']])
          elif row['Difficulty Level']==str(3):
            dod3.append([row['Topic Number'],row['Variation Number'],row['Difficulty Level'],row['Question (Text Only)'],row['Correct Answer 1'],row['Wrong Answer 1'],row['Wrong Answer 2'],row['Wrong Answer 3'],row['Solution (Text only)']])
          else:
            continue
recmques()
print(random.choice(dod1))
print(random.choice(dod1))
print(random.choice(dod1))
print(random.choice(dod1))
print(random.choice(dod1))
print(random.choice(dod2))
print(random.choice(dod3))
print(len(dod1))
print(len(dod2))
print(len(dod3))
print(len(dod1[0]))

['30101', '102', '1', 'Kshitij and Akanksha have equal number of pencils. How will you represent the number of pencils each one has, by using a variable?  <br> # क्षितीज आणि आकांक्षा यांच्याकडील पेन्सिलींची संख्या समान आहे. चलाचा वापर करून प्रत्येकाकडील पेन्सिलींची संख्या कशी दाखवाल? ', '$x$', '$6$', '$9$', '$4$', 'Answer - $x$ pencils<br>Kshitij and Akanksha have equal number of pencils but we do not know the exact number of pencils each one has, in such cases we represent the number by using a variable.<br>Therefore, the number of pencils each one has is represented by a variable  = $x$ pencils <br> # उत्तर - $x$ पेन्सिली<br>क्षितीज आणि आकांक्षा यांच्याकडील पेन्सिलींची संख्या समान आहे परंतु प्रत्येकाकडे नेमक्या  किती पेन्सिली आहेत हे आपल्याला माहित नाही. अशावेळी आपण चलाचा वापर करून  ती संख्या लिहितो. <br>म्हणून, प्रत्येकाकडे असणाऱ्या पेन्सिलींची संख्या = $x$ पेन्सिली']
['30101', '101', '1', 'In a jar there are certain number of chalks. Represent the number of chalks using a letter.<br/># बरणीमध्ये काही खडू आहेत. अक्षराचा/चलाचा वापर करून त्यांची संख्या लिहा.', '$y$', '$3$', '$8$', '$10$', "Ans - $y$ chalks<br/>As we don't know the exact number of chalks in the jar, in such cases we represent the number by using a letter viz.$ a ,b ,c .......m, n .... x, y, z, .....$.<br/>Therefore, the number of chalks in the jar = $y$ chalks.<br/># <br/>उत्तर - $y$ खडू<br/>बरणीमध्ये नेमके किती खडू आहेत हे आपल्याला माहित नाही. अशावेळी आपण अक्षराचा वापर करून (उदा. $a ,b ,c .......m, n .... x, y, z, ......$) ती संख्या लिहितो.<br/>म्हणून, बरणीमध्ये असणाऱ्या खडूंची संख्या = $y$ खडू असे लिहितात."]
['030202', '106', '1', 'If $-3x - 2 = 5y + 3$ and if we subract $6$ from the LHS, what will be RHS to make it equal to LHS<br> # जर $-3x - 2 = 5y + 3$ असताना डाव्या बाजूतून $6$ वजा केले, तर दोन्ही बाजू सारख्या असण्यासाठी उजवी बाजू काय असायला हवी?', '$5y - 3$', '$5y + 9$', '$2y + 1$', '$-8y - 5$', 'Answer - $5y - 3$ <br> $-3x - 2 = 5y + 3$ is given <br>Since we have subracted $6$ from LHS,\n  therefore to balance the equation RHS also must get subtracted by $6$ <br>\n  $\\therefore$ by subtracting $6$ from RHS we get both sides as <br> $-3x - 2 - 6 = 5y + 3 - 6 $ <br>\n  $ -3x - 8 = 5y - 3 $ <br>\n  $\\therefore$ RHS should be $5y - 3$ to make it equal to LHS.<br> \n   # उत्तर - $5y - 3$ <br> गृहीत $-3x - 2 = 5y + 3$ <br>ज्या अर्थी आपण डाव्या बाजूतून $6$ वजा केले आहेत, \n  म्हणून समिकरण संतुलित करण्यासाठी उजव्या बाजूतून $6$ वजा करणे आवश्यक आहे. <br>\n  $\\therefore$ उजव्या बाजूतून $6$ वजा केले की, दोन्ही बाजू <br> $-3x - 2 - 6 = 5y + 3 - 6 $ \n  अशा होतील <br>$ -3x - 8 = 5y - 3 $ <br>\n  $\\therefore$ उजवी बाजू $5y - 3$ असली तर दोन्ही बाजू समान होतील. <br> \xa0\xa0\xa0\n  ']
['030202', '105', '1', 'If $2u + 5 = 4v + 9$ and if we add $4$ to the LHS, what will be RHS to make it equal to LHS<br> # जर $2u + 5 = 4v + 9$ असताना डाव्या बाजूत $4$ मिळवले, तर दोन्ही बाजू सारख्या असण्यासाठी उजवी बाजू काय असायला हवी?.', '$4v + 13$', '$4v + 5$', '$6v + 14$', '$-2v - 4$', 'Answer - $4v + 13$ <br> $2u + 5 = 4v + 9$ given <br>Since we have added $4$ to LHS, \n  therefore to balance the equation RHS also must get added by $4$ <br>$\\therefore$ by adding $4$ \n  to RHS also we get both sides as <br> $2u + 5 + 4 = 4v + 9 + 4 $ <br>\n  $ 2u + 9 = 4v + 13 $ <br>\n  $\\therefore$ RHS should be $4v + 13$ to make it equal to LHS<br>  # उत्तर - $4v + 13$ <br> गृहीत $2u + 5 = 4v + 9$ <br>ज्या अर्थी आपण डाव्या बाजूत $4$ मिळवले आहेत, \n  म्हणून समीकरण संतुलित असण्यासाठी उजव्या बाजूत $4$ मिळवणे आवश्यक आहे <br>$\\therefore$ उजव्या बाजूतही $4$ मिळवले की, \n  दोन्ही बाजू <br> $2u + 5 + 4 = 4v + 9 + 4 $ अशा होतील <br>$ 2u + 9 = 4v + 13 $ <br>\n  $\\therefore$ उजवी बाजू $4v + 13$ असली की दोन्ही बाजू समान होतील <br> ']
['030202', '106', '1', 'If $-4u - 2 = 9v + 5$ and if we subract $5$ from the LHS, what will be RHS to make it equal to LHS<br> # जर $-4u - 2 = 9v + 5$ असताना डाव्या बाजूतून $5$ वजा केले, तर दोन्ही बाजू सारख्या असण्यासाठी उजवी बाजू काय असायला हवी?', '$9v + 0$', '$9v + 10$', '$5v + 3$', '$-13v - 7$', 'Answer - $9v + 0$ <br> $-4u - 2 = 9v + 5$ is given <br>Since we have subracted $5$ from LHS,\n  therefore to balance the equation RHS also must get subtracted by $5$ <br>\n  $\\therefore$ by subtracting $5$ from RHS we get both sides as <br> $-4u - 2 - 5 = 9v + 5 - 5 $ <br>\n  $ -4u - 7 = 9v + 0 $ <br>\n  $\\therefore$ RHS should be $9v + 0$ to make it equal to LHS.<br> \n   # उत्तर - $9v + 0$ <br> गृहीत $-4u - 2 = 9v + 5$ <br>ज्या अर्थी आपण डाव्या बाजूतून $5$ वजा केले आहेत, \n  म्हणून समिकरण संतुलित करण्यासाठी उजव्या बाजूतून $5$ वजा करणे आवश्यक आहे. <br>\n  $\\therefore$ उजव्या बाजूतून $5$ वजा केले की, दोन्ही बाजू <br> $-4u - 2 - 5 = 9v + 5 - 5 $ \n  अशा होतील <br>$ -4u - 7 = 9v + 0 $ <br>\n  $\\therefore$ उजवी बाजू $9v + 0$ असली तर दोन्ही बाजू समान होतील. <br> \xa0\xa0\xa0\n  ']
['030202', '108', '2', 'If $5u - 5 = 4u + 7$ and if we subract $6u + 8$ from the LHS, what will be RHS to make it equal to LHS ?<br> # जर $5u - 5 = 4u + 7$ असताना डाव्या बाजूतून $6u + 8$ वजा केले, तर दोन्ही बाजू सारख्या असण्यासाठी उजवी बाजू काय असायला हवी?', '$-2u - 1$', '$10u + 15$', '$9u + 2$', '$1u - 12$', 'Answer - $-2u - 1$ <br> $5u - 5 = 4u + 7$ is given <br>Since we have subracted $6u + 8$ from LHS,\n  therefore to balance the equation RHS also must get subtracted by $6u + 8$ <br>\n  $\\therefore$ by subtracting $6u + 8$ from RHS we get both sides as <br> \n  $5u - 5 - (6u + 8) = 4u + 7 - (6u + 8) $ <br>\n  $5u - 5 - 6u - 8 = 4u + 7 - 6u - 8 $ <br>\n  $ -1u - 13 = -2u - 1 $ <br>\n  $\\therefore$ RHS should be $-2u - 1$ to make it equal to LHS.<br> \n   # उत्तर - $-2u - 1$ <br> गृहीत $5u - 5 = 4u + 7$ <br>ज्या अर्थी आपण डाव्या बाजूतून $6u + 8$ वजा केले आहेत, \n  म्हणून समिकरण संतुलित करण्यासाठी उजव्या बाजूतून $6u + 8$ वजा करणे आवश्यक आहे. <br>\n  $\\therefore$ उजव्या बाजूतून $6u + 8$ वजा केले की, दोन्ही बाजू <br> \n  $5u - 5 - (6u + 8) = 4u + 7 - (6u + 8) $ <br>\n  $5u - 5 - 6u - 8 = 4u + 7 - 6u - 8 $ <br>\n  अशा होतील <br>$ -1u - 13 = -2u - 1 $ <br>\n  $\\therefore$ उजवी बाजू $-2u - 1$ असली तर दोन्ही बाजू समान होतील. <br> \xa0\xa0\xa0\n  ']
['30102', '105', '3', 'School is $200$ metres from Salon. Petrol Pump is $750$ metres from Salon. Assuming School and Petrol Pump are in the same direction from Salon which of the following statement is correct?<br>#शाळा आणि सलून यातील अंतर $200$ मी आहे. पेट्रोल पंप आणि सलून यातील अंतर $750$ मी आहे. शाळा आणि पेट्रोल पंप हे सलून पासून एकाच दिशेने आहेत. तर खालील पैकी कोणते विधान बरोबर आहे?', 'Distance between Salon and Petrol Pump and that of between Petrol Pump and School is not equal<br>#सलून आणि पेट्रोल पंप हे अंतर आणि शाळा आणि पेट्रोल पंप हे अंतर समान नाही', 'Distance between Salon and School and that of between Petrol Pump and School is equal<br>#सलून आणि शाळा हे अंतर आणि शाळा आणि पेट्रोल पंप हे अंतर समान आहे', 'Petrol Pump is at same distance from Salon and School<br>#पेट्रोल पंप हे सलून आणि शाळा या दोन्ही पासून समान अंतरावर आहे', 'Distance between Salon and Petrol Pump and that of between Petrol Pump and School is equal<br>#सलून आणि पेट्रोल पंप हे अंतर आणि शाळा आणि पेट्रोल पंप हे अंतर समान आहे', 'Answer: Distance between Salon and Petrol Pump and that of between Petrol Pump and School is not equal <br> Distance between Salon and School = $200\\ m$<br>Distance between Salon and Petrol Pump = $750\\ m$<br>$\\therefore$ Distance between School and Petrol Pump = $550\\ m$<br>This shows that neither of the distances are equal. <br># उत्तर: सलून आणि पेट्रोल पंप हे अंतर आणि शाळा आणि पेट्रोल पंप हे अंतर समान नाही <br> सलून आणि शाळा यातील अंतर = $200$ मी <br>सलून आणि पेट्रोल पंप यातील अंतर = $750$ मी <br>$\\therefore$ शाळा आणि पेट्रोल पंप यातील अंतर = $550$ मी <br>या वरून आपल्याला हे कळते की कोणत्याच दोन ठिकाणांमधील अंतर समान नाही.']
115
183
78
9

In [12]:
import mysql.connector
from csv import DictReader

def recmques(d):
  with open('file.csv', 'r') as read_obj:
      csv_dict_reader = DictReader(read_obj)
      for row in csv_dict_reader:
          if row['Difficulty_Level']==str(d):
            return row['Topic_Number'],row['Variation'],row['Difficulty_Level']

try:
    connection = mysql.connector.connect(host='127.0.0.2',
                                         database='coep',
                                         user='root',
                                         password='root')

    sql_select_Query = "select * from studentperformance"
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    # get all records
    records = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)

    print("\nPrinting each row")
    for row in records:
        print("SID = ", row[0])
        print("question paper id = ", row[1])
        print("topicnumber = ", row[2])
        print("variation  = ", row[3])
        print("DOD  = ", row[4])
        print("question  = ", row[5])
        print("coption  = ", row[6])
        print("woption1  = ", row[7])
        print("woption2  = ", row[8])
        print("woption3  = ", row[9])
        print("solution = ", row[10])
        print("answer = ", row[11])
        print("timetaken  = ", row[12], "\n")

except mysql.connector.Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

Total number of rows in table:  0

Printing each row
MySQL connection is closed

In [49]:
import mysql.connector
tp="30102"
tpr1=[]
tpr2=[]
tpr3=[]
for j in dod1:
            if j[0]==tp:
                tpr1.append(j)
for j in dod2:
            if j[0]==tp:
                tpr2.append(j)
for j in dod3:
            if j[0]==tp:
                tpr3.append(j)                

for i in range(4):
    try:
        connection = mysql.connector.connect(host='127.0.0.2',
                                            database='coep',
                                            user='root',
                                            password='root')
        #dod1.append([row['Topic Number'],row['Variation Number'],row['Difficulty Level'],row['Question (Text Only)'],row['Correct Answer 1'],row['Wrong Answer 1'],row['Wrong Answer 2'],row['Wrong Answer 3'],row['Solution (Text only)']])
        sql_select_Query = "INSERT INTO studentperformance (SID, question_paper_id, topicnumber, variation, DOD, question, coption, woption1, woption2, woption3, solution) VALUES (01, 01, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        # for j in dod1:
        #     if j[0]==tp:
        #         tpr1.append(j)
        a=random.choice(tpr1)
        print(a)
        val = (int(a[0]),int(a[1]),int(a[2]),a[3],a[4],a[5],a[6],a[7],a[8])
        cursor = connection.cursor()
        cursor.execute(sql_select_Query,val)
        connection.commit()
        # get all records
        # records = cursor.fetchall()
        # print("Total number of rows in table: ", cursor.rowcount)

        # print("\nPrinting each row")
        # for row in records:
        #     print("SID = ", row[0], )
        #     print("topicnumber = ", row[1])
        #     print("variation  = ", row[2])
        #     print("DOD  = ", row[3])
        #     print("answer  = ", row[4])
        #     print("timetaken  = ", row[5], "\n")

    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

for i in range(3):
    try:
        connection = mysql.connector.connect(host='127.0.0.2',
                                            database='coep',
                                            user='root',
                                            password='root')

        sql_select_Query = "INSERT INTO studentperformance (SID, question_paper_id, topicnumber, variation, DOD, question, coption, woption1, woption2, woption3, solution) VALUES (01, 01, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        # for j in dod2:
        #     if j[0]==tp:
        #         tpr2.append(j)
        a=random.choice(tpr2)
        val = (int(a[0]),int(a[1]),int(a[2]),a[3],a[4],a[5],a[6],a[7],a[8])
        cursor = connection.cursor()
        cursor.execute(sql_select_Query,val)
        connection.commit()
        # get all records
        # records = cursor.fetchall()
        # print("Total number of rows in table: ", cursor.rowcount)

        # print("\nPrinting each row")
        # for row in records:
        #     print("SID = ", row[0], )
        #     print("topicnumber = ", row[1])
        #     print("variation  = ", row[2])
        #     print("DOD  = ", row[3])
        #     print("answer  = ", row[4])
        #     print("timetaken  = ", row[5], "\n")

    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

for i in range(3):
    try:
        connection = mysql.connector.connect(host='127.0.0.2',
                                            database='coep',
                                            user='root',
                                            password='root')

        sql_select_Query = "INSERT INTO studentperformance (SID, question_paper_id, topicnumber, variation, DOD, question, coption, woption1, woption2, woption3, solution) VALUES (01, 01, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        # for j in dod3:
        #     if j[0]==tp:
        #         tpr3.append(j)
        a=random.choice(tpr3)
        val = (int(a[0]),int(a[1]),int(a[2]),a[3],a[4],a[5],a[6],a[7],a[8])
        cursor = connection.cursor()
        cursor.execute(sql_select_Query,val)
        connection.commit()
        # get all records
        # records = cursor.fetchall()
        # print("Total number of rows in table: ", cursor.rowcount)

        # print("\nPrinting each row")
        # for row in records:
        #     print("SID = ", row[0], )
        #     print("topicnumber = ", row[1])
        #     print("variation  = ", row[2])
        #     print("DOD  = ", row[3])
        #     print("answer  = ", row[4])
        #     print("timetaken  = ", row[5], "\n")

    except mysql.connector.Error as e:
        print("Error reading data from MySQL table", e)
    finally:
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

['30102', '1', '1', 'Following two expressions  $11 - 5$ and $1 + 5$ will form two sides (LHS and RHS) of an equation. <br> # खाली दिलेली दोन विधाने  $11 - 5$ आणि  $1 + 5$ मिळून समीकरण (डावी बाजू = उजवी बाजू) बनवू शकतात.', 'True <br> # बरोबर', 'False <br> # चूक', '', '', 'Answer - True<br>In mathematics we can equate any two expressions if the values of both sides of expressions\xa0are equal.<br>Here, $ 11 - 5 = 6 $ and $ 1 + 5 = 6 $<br>Since both the given expressions are giving the same value we can equate these two to form an equation.<br>$11 - 5 = 1 + 5$<br> # उत्तर - बरोबर <br>जेंव्हा दोन गणिती विधानांचे मूल्य समान असते तेव्हा ती दोन विधाने समीकरण पध्दतीने मांडता येतात.<br>$ 11 - 5 = 6 $ आणि $ 1 + 5 = 6 $ <br>येथे दिलेल्या दोन्ही गणिती विधानांचे मूल्य समान आहे. त्यामुळे दिलेली दोन्ही विधाने मिळून समीकरण पध्दतीने मांडता येतील.<br>$11 - 5 = 1 + 5$']
MySQL connection is closed
['30102', '1', '1', 'Following two expressions  $5 \\times 4$ and $18 + 2$ will form two sides (LHS and RHS) of an equation. <br> # खाली दिलेली दोन विधाने  $5 \\times 4$ आणि  $18 + 2$ मिळून समीकरण (डावी बाजू = उजवी बाजू) बनवू शकतात.', 'True <br> # बरोबर', 'False <br> # चूक', '', '', 'Answer - True<br>In mathematics we can equate any two expressions if the values of both sides of expressions\xa0are equal.<br>Here, $ 5 \\times 4 = 20 $ and $ 18 + 2 = 20 $<br>Since both the given expressions are giving the same value we can equate these two to form an equation.<br>$5 \\times 4 = 18 + 2$<br> # उत्तर - बरोबर <br>जेंव्हा दोन गणिती विधानांचे मूल्य समान असते तेव्हा ती दोन विधाने समीकरण पध्दतीने मांडता येतात.<br>$ 5 \\times 4 = 20 $ आणि $ 18 + 2 = 20 $ <br>येथे दिलेल्या दोन्ही गणिती विधानांचे मूल्य समान आहे. त्यामुळे दिलेली दोन्ही विधाने मिळून समीकरण पध्दतीने मांडता येतील.<br>$5 \\times 4 = 18 + 2$']
MySQL connection is closed
['30102', '1', '1', 'Following two expressions  $10 + 10$ and $20 - 0$ will form two sides (LHS and RHS) of an equation. <br> # खाली दिलेली दोन विधाने  $10 + 10$ आणि  $20 - 0$ मिळून समीकरण (डावी बाजू = उजवी बाजू) बनवू शकतात.', 'True <br> # बरोबर', 'False <br> # चूक', '', '', 'Answer - True<br>In mathematics we can equate any two expressions if the values of both sides of expressions\xa0are equal.<br>Here, $ 10 + 10 = 20 $ and $ 20 - 0 = 20 $<br>Since both the given expressions are giving the same value we can equate these two to form an equation.<br>$10 + 10 = 20 - 0$<br> # उत्तर - बरोबर <br>जेंव्हा दोन गणिती विधानांचे मूल्य समान असते तेव्हा ती दोन विधाने समीकरण पध्दतीने मांडता येतात.<br>$ 10 + 10 = 20 $ आणि $ 20 - 0 = 20 $ <br>येथे दिलेल्या दोन्ही गणिती विधानांचे मूल्य समान आहे. त्यामुळे दिलेली दोन्ही विधाने मिळून समीकरण पध्दतीने मांडता येतील.<br>$10 + 10 = 20 - 0$']
MySQL connection is closed
['30102', '1', '1', 'Following two expressions  $6 \\times 3$ and $15 + 3$ will form two sides (LHS and RHS) of an equation. <br> # खाली दिलेली दोन विधाने  $6 \\times 3$ आणि  $15 + 3$ मिळून समीकरण (डावी बाजू = उजवी बाजू) बनवू शकतात.', 'True <br> # बरोबर', 'False <br> # चूक', '', '', 'Answer - True<br>In mathematics we can equate any two expressions if the values of both sides of expressions\xa0are equal.<br>Here, $ 6 \\times 3 = 18 $ and $ 15 + 3 = 18 $<br>Since both the given expressions are giving the same value we can equate these two to form an equation.<br>$6 \\times 3 = 15 + 3$<br> # उत्तर - बरोबर <br>जेंव्हा दोन गणिती विधानांचे मूल्य समान असते तेव्हा ती दोन विधाने समीकरण पध्दतीने मांडता येतात.<br>$ 6 \\times 3 = 18 $ आणि $ 15 + 3 = 18 $ <br>येथे दिलेल्या दोन्ही गणिती विधानांचे मूल्य समान आहे. त्यामुळे दिलेली दोन्ही विधाने मिळून समीकरण पध्दतीने मांडता येतील.<br>$6 \\times 3 = 15 + 3$']
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed
MySQL connection is closed

In [ ]:
import csv  

header = ['SID', 'quespaperID', 'dod', 'question','option1','']
data = ['Afghanistan', 652090, 'AF', 'AFG']

with open('S1Q1questionpaper.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write the data
    writer.writerow(data)